<h2 class="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @article.user %>
    <div class="row center">
      <div class="col-md-4 col-md-offset-4">
        <ul class="listing">
          <li>Created by:</li>
          <li><%= link_to gravator_for(@article.user), user_path(@article.user) %></li>
          <div class="article-title">
            <li><%= link_to @article.user.username, user_path(@article.user) %></li>
          </div>
        </ul>
      </div>
    </div>
  <% end %>
  <h4 class="description"><strong>Description:</strong></h4> 
  <%= simple_format(@article.description) %>
  <div class="article-meta-details">
    <small>Created by: <%= @article.user.username if !@article.user.nil? %>
        <%= time_ago_in_words(@article.created_at) %> ago. Updated:
        <%= time_ago_in_words(@article.updated_at) %> ago.</small>
  </div>
  <div class="articles-actions">
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-primary" %>
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Delete the article", article_path(@article), class: "btn btn-xs btn-danger", 
                  method: :delete, data: {confirm: "Are you sure?"} %>
      <%= link_to "Edit the article", edit_article_path(@article), class: "btn btn-xs btn-success" %>    
    <% end %>
  </div>
</div>

